<%= render :partial => 'list_records_title', locals: { model: Home } %>

<table class="table table-striped">
  <%= render partial: 'table_header', locals: { model: Home, titles: [:city, :territory, :area, :address, :number] } %>
<% @homes.each do |home| %>
  <tr>
    <td><%= home.area.city.short %></td>
    <td><%= home.territory%></td>
    <td><%= home.area %></td>
    <td><%= home.address %></td>
    <td><%= home.number %></td>
    <td>
      <%= render partial: 'table_actions', locals: { record: home } %>
    </td>
  </tr>
<% end %>
</table>

<%= paginate(@homes) %>
